{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form ,{'attr': {'class': 'login-container'} }) }}

     <div class="login">
        <input class="login login-submit" type="submit" value="{{ 'registration.submit'|trans }}">
    </div>
{{ form_end(form) }}
